# BEGIN GZIP
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</ifmodule>
# END GZIP

# BEGIN Leverage browser caching
<IfModule mod_headers.c>

    # Time
        # 1 minute =       60 sec
        # 1 hour   =     3600 sec
        # 1 day    =    86400 sec
        # 1 week   =   604800 sec
        # 1 month  =  2592000 sec
        # 1 year   = 31536000 sec


    # CSS // 1 week
    <FilesMatch "\.(css)$">
        Header set Cache-Control "public, max-age=604800"
    </FilesMatch>

    # JavaScript // 1 week
    <FilesMatch "\.(js)$">
        Header set Cache-Control "public, max-age=604800"
    </FilesMatch>

    # Media files: Images // 1 month
    <FilesMatch "\.(jpg|jpeg|png|gif|bmp|svg)$">
        Header set Cache-Control "public, max-age=2592000"
    </FilesMatch>

    # Web fonts // 1 year
    <FilesMatch "\.(eot|ttf|woff|woff2)$">
        Header set Cache-Control "public, max-age=31536000"
    </FilesMatch>

</IfModule>
# END leverage browser caching
